* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.logo{
    display: flex;
    gap: 8px;
    align-items: center;
}

.header{
    display: flex;
    padding-top: 53px;
    padding-bottom: 53px;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    
    &__left-container{
        display: flex;
        gap: 50px;
        align-items: center;
    }

    &__right-link{
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        text-align: center;
        color: #292f36;
    }

}

.navigation{
    background-image: url(./hw3image/Banner\ \(1\).png);
    min-height: 351px;
    margin-bottom: 200px;

}

.main{
    display: flex;
    gap: 52px;
    
    &__inform{
        display: flex;
        flex-direction: column;
        width: 799px;
        margin-bottom: 63px;
    }

    &__articles-title{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #292f36;
        margin-bottom: 11px;
    }

    &__article-info{
        display: flex;
        justify-content: space-between;
        margin-top: 46px;
        margin-bottom: 48px;
    }

    &__article-data{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #4d5053;
    }

    &__article-link{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.01em;
        text-transform: capitalize;
        color: #4d5053;
    }

    &__article-text{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4d5053;
        margin-bottom: 35px;
    }

    &__article-citation{
        border-radius: 50px;
        padding: 53px 227px;
        background: #f4f0ec;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 27px;
    }

    &__citation{
        font-family:  "Jost", sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #cda274;
    }

    &__second-title{
        margin-bottom: 20px;
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 50px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #292f36;
    }

    &__second-text{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4d5053;
        margin-bottom: 24px;
    }

    &__articles-numbering{
        display: flex;
        gap: 14px;
    }

    &__number{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #cda274;
    }

    &__number-text{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4d5053;
        margin-bottom: 32px;
    }

    &__articles-picture{
        margin-top: 12px;
        margin-bottom: 35px;
    }

    &__therd-text{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4d5053;
    }

    &__tegs{
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__tegs-title{
        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        letter-spacing: 0.02em;
        color: #292f36;
    }

    &__tegs-button{
        border-radius: 10px;
        padding: 9px 30px;
        background: #f4f0ec; 
        border: none;

        font-family:  "Jost", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #292f36;

        margin-right: 10px;
        margin-bottom: 11px;
    }
}

.footer{
    padding-bottom: 86px;
    display: flex;
    justify-content: space-between;

    &__logo{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__net{
        display: flex;
        gap: 54px;

    }

    &__pages{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__pages-title{
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        color: #292f36;
    }

    &__pages-link{
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 300%;
        letter-spacing: 0.01em;
        color: #4d5053;
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__contacts-title{
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 25px;
        line-height: 125%;
        color: #292f36;
    }

    &__contacts-address{
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 22px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #4d5053;
        width: 258px;
    }
}

    
